<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
		<!-- SV: Added connection string below to connect to LibrarySystem DB via windows authentication (trusted connection) so do not need to specify credentials -->
		<add name  = "LibraryDBConectionString" providerName="System.Data.SqlClient" connectionString ="Server=.\sqlexpress;Database=LibrarySystem;Trusted_Connection=True;"/> 
	</connectionStrings>
</configuration>